body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Common Pixel';
  src: url("./assets/fonts/common-pixel.woff") format("woff2");
}

@font-face {
  font-family: 'TheGoodMonolith';
  src: url("./assets/fonts/TheGoodMonolith.woff") format("woff2");
}

h1 {
  font-family: Common Pixel, sans-serif;
}

h5 {
  font-family: Common Pixel, sans-serif;
}

h4 {
  font-family: Common Pixel, sans-serif;
}

h6 {
  font-family: Common Pixel, sans-serif;
}

button {
  font-family: Common Pixel, sans-serif !important;
  background: no-repeat center/100% 100% url(./assets/img/button\ backer\ bar.png);
}

body .App-header .btn-wallet-connect {
  font-weight: unset;
  height: unset;
  line-height: 35px;
  border: 1px solid #ff3b46;
  display: inline-flex;
  border-radius: 3px;
  background: no-repeat center/100% 100% url(./assets/img/button\ backer\ bar.png);
  color: #ff3b46;
}

body .App-header .btn-wallet-connect:hover {
  background: no-repeat center/100% 100% url(./assets/img/button\ backer\ bar.png);
  color: white !important;
}

body .wallet-adapter-button-trigger {
  background-color: unset;
}

body .wallet-adapter-button {
  font-weight: unset;
  border-radius: 3px;
  border: 1px solid #5c5c5c;
  height: 40px;
  background: unset;
}

body .wallet-adapter-modal-wrapper {
  background: #373433;
  border-radius: 3px;
}

body .wallet-adapter-modal-title {
  font-weight: 100;
  font-size: 20px;
}

.red-text {
  font-family: Common Pixel, sans-serif;
  color: #ff3b46 !important;
}

.digital {
  font-family: TheGoodMonolith, sans-serif;
}

.sub {
  letter-spacing: 1rem;
}


.mv-25 {
  margin: 25px 0;
}
.text-center {
  text-align: center;
}

.tab-container {
  width: 100%;
  border-bottom: 1px solid #ff3b46;
  display: flex;
  justify-content: center;
}

.tab-container .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container .tabs .tab{
  padding: 0.3rem 1rem;
  border: 1px solid #ff3b46;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.tab-container .tabs .tab:hover {
  color: white !important;
}

.tab-container .tab.red-text.active{
  background-color: #ff3b46;
  color: white !important;
}

.glitch {
  position: relative;
  color: #fff;
  font-size: 4em;
  animation: glitch-skew 1s linear infinite alternate-reverse;
}

.glitch:after, .glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  clip: rect(44px,450px,56px,0);
}

.glitch:before {
  left: 0;
  left: 2px;
  text-shadow: -2px 0 #ff4a54;
  animation: glitch-anim 5s linear infinite alternate-reverse;
}

.glitch:after {
  left: 0;
  left: -2px;
  text-shadow: -2px 0 #ff4a54, 2px 2px #ff4a54;
  animation: glitch-anim2 5s linear infinite alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(27px, 9999px, 44px, 0);
    transform: skew(0.75deg);
  }
  5% {
    clip: rect(22px, 9999px, 72px, 0);
    transform: skew(0.61deg);
  }
  10% {
    clip: rect(4px, 9999px, 34px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(12px, 9999px, 17px, 0);
    transform: skew(0.51deg);
  }
  20% {
    clip: rect(76px, 9999px, 11px, 0);
    transform: skew(0.86deg);
  }
  25% {
    clip: rect(80px, 9999px, 42px, 0);
    transform: skew(0.06deg);
  }
  30% {
    clip: rect(75px, 9999px, 26px, 0);
    transform: skew(1deg);
  }
  35% {
    clip: rect(79px, 9999px, 77px, 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(24px, 9999px, 57px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(77px, 9999px, 10px, 0);
    transform: skew(0.42deg);
  }
  50% {
    clip: rect(2px, 9999px, 53px, 0);
    transform: skew(0.57deg);
  }
  55% {
    clip: rect(43px, 9999px, 95px, 0);
    transform: skew(0.19deg);
  }
  60% {
    clip: rect(89px, 9999px, 9px, 0);
    transform: skew(0.83deg);
  }
  65% {
    clip: rect(1px, 9999px, 15px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(38px, 9999px, 20px, 0);
    transform: skew(0.19deg);
  }
  75% {
    clip: rect(16px, 9999px, 53px, 0);
    transform: skew(0.13deg);
  }
  80% {
    clip: rect(63px, 9999px, 50px, 0);
    transform: skew(0.11deg);
  }
  85% {
    clip: rect(71px, 9999px, 94px, 0);
    transform: skew(0.33deg);
  }
  90% {
    clip: rect(27px, 9999px, 30px, 0);
    transform: skew(0.28deg);
  }
  95% {
    clip: rect(76px, 9999px, 36px, 0);
    transform: skew(0.9deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(27px, 9999px, 44px, 0);
    transform: skew(0.75deg);
  }
  5% {
    clip: rect(22px, 9999px, 72px, 0);
    transform: skew(0.61deg);
  }
  10% {
    clip: rect(4px, 9999px, 34px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(12px, 9999px, 17px, 0);
    transform: skew(0.51deg);
  }
  20% {
    clip: rect(76px, 9999px, 11px, 0);
    transform: skew(0.86deg);
  }
  25% {
    clip: rect(80px, 9999px, 42px, 0);
    transform: skew(0.06deg);
  }
  30% {
    clip: rect(75px, 9999px, 26px, 0);
    transform: skew(1deg);
  }
  35% {
    clip: rect(79px, 9999px, 77px, 0);
    transform: skew(0.25deg);
  }
  40% {
    clip: rect(24px, 9999px, 57px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(77px, 9999px, 10px, 0);
    transform: skew(0.42deg);
  }
  50% {
    clip: rect(2px, 9999px, 53px, 0);
    transform: skew(0.57deg);
  }
  55% {
    clip: rect(43px, 9999px, 95px, 0);
    transform: skew(0.19deg);
  }
  60% {
    clip: rect(89px, 9999px, 9px, 0);
    transform: skew(0.83deg);
  }
  65% {
    clip: rect(1px, 9999px, 15px, 0);
    transform: skew(0.33deg);
  }
  70% {
    clip: rect(38px, 9999px, 20px, 0);
    transform: skew(0.19deg);
  }
  75% {
    clip: rect(16px, 9999px, 53px, 0);
    transform: skew(0.13deg);
  }
  80% {
    clip: rect(63px, 9999px, 50px, 0);
    transform: skew(0.11deg);
  }
  85% {
    clip: rect(71px, 9999px, 94px, 0);
    transform: skew(0.33deg);
  }
  90% {
    clip: rect(27px, 9999px, 30px, 0);
    transform: skew(0.28deg);
  }
  95% {
    clip: rect(76px, 9999px, 36px, 0);
    transform: skew(0.9deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(45px, 9999px, 71px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(19px, 9999px, 91px, 0);
    transform: skew(0.25deg);
  }
  10% {
    clip: rect(39px, 9999px, 13px, 0);
    transform: skew(0.61deg);
  }
  15% {
    clip: rect(7px, 9999px, 56px, 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(55px, 9999px, 9px, 0);
    transform: skew(0.06deg);
  }
  25% {
    clip: rect(98px, 9999px, 62px, 0);
    transform: skew(0.6deg);
  }
  30% {
    clip: rect(79px, 9999px, 68px, 0);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(36px, 9999px, 79px, 0);
    transform: skew(0.98deg);
  }
  40% {
    clip: rect(87px, 9999px, 98px, 0);
    transform: skew(0.19deg);
  }
  45% {
    clip: rect(11px, 9999px, 22px, 0);
    transform: skew(0.61deg);
  }
  50% {
    clip: rect(68px, 9999px, 90px, 0);
    transform: skew(0.03deg);
  }
  55% {
    clip: rect(87px, 9999px, 57px, 0);
    transform: skew(0.52deg);
  }
  60% {
    clip: rect(12px, 9999px, 23px, 0);
    transform: skew(0.25deg);
  }
  65% {
    clip: rect(89px, 9999px, 72px, 0);
    transform: skew(0.96deg);
  }
  70% {
    clip: rect(62px, 9999px, 1px, 0);
    transform: skew(0.38deg);
  }
  75% {
    clip: rect(83px, 9999px, 74px, 0);
    transform: skew(0.41deg);
  }
  80% {
    clip: rect(96px, 9999px, 32px, 0);
    transform: skew(0.51deg);
  }
  85% {
    clip: rect(85px, 9999px, 55px, 0);
    transform: skew(0.56deg);
  }
  90% {
    clip: rect(30px, 9999px, 80px, 0);
    transform: skew(0.18deg);
  }
  95% {
    clip: rect(52px, 9999px, 66px, 0);
    transform: skew(0.74deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(45px, 9999px, 71px, 0);
    transform: skew(0.14deg);
  }
  5% {
    clip: rect(19px, 9999px, 91px, 0);
    transform: skew(0.25deg);
  }
  10% {
    clip: rect(39px, 9999px, 13px, 0);
    transform: skew(0.61deg);
  }
  15% {
    clip: rect(7px, 9999px, 56px, 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(55px, 9999px, 9px, 0);
    transform: skew(0.06deg);
  }
  25% {
    clip: rect(98px, 9999px, 62px, 0);
    transform: skew(0.6deg);
  }
  30% {
    clip: rect(79px, 9999px, 68px, 0);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(36px, 9999px, 79px, 0);
    transform: skew(0.98deg);
  }
  40% {
    clip: rect(87px, 9999px, 98px, 0);
    transform: skew(0.19deg);
  }
  45% {
    clip: rect(11px, 9999px, 22px, 0);
    transform: skew(0.61deg);
  }
  50% {
    clip: rect(68px, 9999px, 90px, 0);
    transform: skew(0.03deg);
  }
  55% {
    clip: rect(87px, 9999px, 57px, 0);
    transform: skew(0.52deg);
  }
  60% {
    clip: rect(12px, 9999px, 23px, 0);
    transform: skew(0.25deg);
  }
  65% {
    clip: rect(89px, 9999px, 72px, 0);
    transform: skew(0.96deg);
  }
  70% {
    clip: rect(62px, 9999px, 1px, 0);
    transform: skew(0.38deg);
  }
  75% {
    clip: rect(83px, 9999px, 74px, 0);
    transform: skew(0.41deg);
  }
  80% {
    clip: rect(96px, 9999px, 32px, 0);
    transform: skew(0.51deg);
  }
  85% {
    clip: rect(85px, 9999px, 55px, 0);
    transform: skew(0.56deg);
  }
  90% {
    clip: rect(30px, 9999px, 80px, 0);
    transform: skew(0.18deg);
  }
  95% {
    clip: rect(52px, 9999px, 66px, 0);
    transform: skew(0.74deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(5deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(5deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-2deg);
  }
}
